---
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - rbx-18mode
  - rbx-19mode
  - jruby-18mode
  - jruby-19mode
  - jruby-20mode
  - jruby-head
  - ruby-head
matrix:
  include:
    - { rvm: 1.9.3, env: rack=1.4.0  }
    - { rvm: 1.8.7, env: tilt=master }
    - { rvm: 1.9.3, env: rack=master }
    - { rvm: 1.9.3, env: tilt=master }
  allow_failures:
    - env: tilt=master
    - rvm: rbx-19mode
    - rvm: ruby-head
    - rvm: jruby-head
