body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  margin: auto 10em; }

body
  { color: #222;
    background: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    margin: auto 8em;
    padding: 0; }

a {
	color: #1177DD;
	text-decoration: none; }
a:hover {
	text-decoration: underline; }

a img
  { border: none; }

#navigation ul {
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
  position: relative; }
#navigation ul li {
  background: #e0e0e0;
  padding: 0.4em;
  margin-right: 0.5em;
  display: inline; }

#content
  { background: #fff;
    padding: 1em 2em;
    margin: auto 2em;
    border: 1px solid #ccc;
    border-top: none; border-bottom: none; }

#content .inner {
  position: relative;
  border-top: 4px solid #222;
  margin-top: 0.2em; }

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body #content h1:first-child {
  color: #222;
  background: #fff;
  font: bold 300% Georgia, "Times New Roman", serif;
	position: absolute;
	left: 180px;
	top: -2.7em; }

#content h1 a {
  color: #222; }

#content p.first {  /* TODO */
  font-size: 200%; }

#content h2 {
  color: #333;
  font-size: 150%;
  margin-top: 1.5em;
  border-top: 4px solid #e0e0e0;
  padding-top: .5em; }

#content h3 {
	font-weight: bold;
	font-size: 120%;
	color: #4e4e4e;
	margin: 1em 0 .2em; }

/* code */
#content code, #content pre, #content textarea {
	font-family: "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", "Inconsolata", "Consolas", monospace; }
#content pre {
	margin: .5em 0;
	padding: .5em; }
#content pre {
  margin: 1em 0;
  font-size: 90%;
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  padding: .5em;
  line-height: 1.5em;
  color: #444; }

#content pre code {
  padding: 0;
  font-size: 100%;
  background-color: #f8f8ff;
  border: none; }

#content code {
  font-size: 90%;
  background-color: #f8f8ff;
  color: #444;
  padding: 0 .2em;
  border: 1px solid #dedede; }
