!!! strict
%html
  %head
    %title= title
    %link{ :media => 'screen', :type => 'text/css', :href => 'sinatra.css', :rel => 'stylesheet' }
  %body
    #content
      %a{ :href => './'}
        %img{ :src => "sinatra-logo.gif", :width => 156, :height => 108, :alt => 'Hat' }
      %div#navigation
        %ul
          %li
            %a{ :href => './' } The Hat
          %li
            %a{ :href => './book.html' } The Book
          %li
            %a{ :href => './api/' } The API
          %li
            %a{ :href => 'http://github.com/bmizerany/sinatra' } The Source
      %div.inner~ content
