<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Sinatra has taken the stage!</title>
	</head>
	
	<body>
		<style type="text/css" media="screen">
			body {
				color: #333;
				font-size: 1.5em;
			}
			
			#content {
				margin: 0 auto;
				text-align: center;
				width: 500px;
			}
			
			#content pre {
				text-align: left;
				background-color: #D8D8D8;
				padding: 10px;
			}
		</style>
		<div id="content">
			<div id="banner">
				<img src="http://sinatra.rubyforge.org/logo.png">
			</div>
			<div id="content">
				<h3>Sing this diddy to move on:</h3>
				<pre>
get "/" do
  ... your code here ..
end</pre>
			</div>
		</div>
	</body>
</html>