<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Not Found :: Sinatra</title>
	</head>

	<body id="not_found">
		
		<style type="text/css" media="screen">
			body {
				background-color: #fff;
			}
	
			.message {
				padding: 10px;

				font-size: 20px;
				font-color: #333;
			}
			
			#content {
			}
			
			.message pre {
				font-size: 15px;
				text-align: left;
				
				background-color: #ccc;
				
				padding: 10px;
			}
		</style>

		<div id="container">
			<div id="content">
				<div class='message'>
					<h3>Sinatra doesn't know this diddy, but he's a quick study.</h3>
					<p>Sing this one:</p>
<pre><%= request.request_method.downcase %> '<%= request.path_info %>' do
	html "Replace this with your code."
end</pre>
				</div>
			</div>
		</div>

	</body>

</html>