name: Testing

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  test:
    name: Test with Ruby-${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: [2.6, 2.7, '3.0', 3.1, 'jruby-9.3']
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Install dependencies
      run: sudo apt-get install -y pandoc nodejs pkg-config libxml2-dev libxslt-dev
    - name: Run sinatra tests
      run: bundle exec rake
    - name: Run sinatra-contrib tests
      working-directory: sinatra-contrib
      run: |
        bundle install --jobs=3 --retry=3
        bundle exec rake
    - name: Run rack-protection tests
      working-directory: rack-protection
      run: |
        bundle install --jobs=3 --retry=3
        bundle exec rake
    - uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        fields: repo,message,commit,author,ref,job,took # selectable (default: repo,message)
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }} # required
        MATRIX_CONTEXT: ${{ toJson(matrix) }} # required
      if: failure() && env.SLACK_WEBHOOK_URL
